body {
  height: 100%;
  min-height: 640px;
  padding-bottom: 150px;
}

html, main, main .container, main .container {
  height: 100%;

  .card.post.new, .card.post.edit {
    height: 100%;
    padding-bottom: 50px;
    .card-content, .day_form, .description {
      height: 100%;
    }
  }
}

body {
  background-color: #fcfcfc;
}

header {
  margin-bottom: 40px;
}

nav {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12);
  .brand-logo {
    font-size: 20px;
  }

  &, a, ul li a, .brand-logo {
    color: #666;
  }
}

.btn.import.csv {
  display: none;
}

.avatar {
  border: 1px solid #aaa;
  width: 100px;
}

.card {
  a {
    color: #666;

    &:hover {
      color: #000;
    }

    &.edit-button {
      position: absolute;
      top: 18px;
      right: 20px;
      margin: 0;
      color: #666;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  .card-content {
    .card-title {
      &, a {
        color: #999;
      }
    }

    ul li, ol li {
      list-style: initial;
      margin-left: 20px;
    }
  }

  &.post {
    .card-content {
      .card-title {
        line-height: 18px;
        margin-bottom: 20px;
        font-size: 18px;
      }
      .entry {
        font-size: 1.3rem;
      }
    }
  }
}

textarea {
  font-size: 1.3rem;
  border: 1px solid rgba(250, 250, 250, 0.7);

  &:focus {
    outline: 1px solid #efefef;
  }
}

.container {
  padding: 0;
}

#sidenav-overlay {
  z-index: 997;
}

.save-status {
  position: absolute;
  top: 18px;
  right: 20px;
  opacity: 0.5;
}
