body {
  background-color: #fcfcfc;
}

header {
  margin-bottom: 40px;
}

.btn.import.csv {
  display: none;
}

.avatar {
  border: 1px solid #aaa;
  width: 100px;
}

.card {
  a {
    color: #60D097;

    &:hover {
      color: #1b5e20;
    }
  }

  .card-content {
    .card-title {
      &, a {
        color: #1b5e20;
      }
    }

    ul li, ol li {
      list-style: initial;
      margin-left: 20px;
    }
  }
}


// Hacks to fix Materialize:

.container {
  padding: 0;
}

#sidenav-overlay {
  z-index: 997;
}

.save-status {
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0.5;
}
