template(name="day_card")
  .card.post
    a.edit-button.tooltipped(href="/days/#{day}/edit" title="Edit" data-tooltip="Edit" data-position="left") 
      i.mdi.mdi-editor-mode-edit
    .card-content    
      .card-title 
        a(href="/days/{{day}}") {{longDateFormat day}}
      .entry
        +markdown 
          {{description}}
