template(name="day_edit")
  .card.post
    .card-content      
      .card-title
        a(href="/days/{{day.day}}") {{longDateFormat day.day}}    
      +day_form
    //- .card-action
    //-   a.save(href="#") Done
      
