head
  meta(charset="utf-8")
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(content="width=device-width, initial-scale=1", name="viewport")
  <!--  Android 5 Chrome Color-->
  meta(name="theme-color", content="#EE6E73")
  title Best Day Ever

template(name="layout")
  header
    .navbar-fixed
      ul#username-dropdown.dropdown-content
        li
          a.signout(href='/signout') Sign Out 
      nav.deep-orange(role='navigation')
        .container
          .nav-wrapper
            a#logo-container.brand-logo(href='/') Best Day Ever     
            ul#nav-mobile.side-nav    
              if signed_in
                li
                  a(href='/today') Today
                li
                  a(href='/everyday') The Past 
                li
                  a.dropdown-button(href='#', data-activates='username-dropdown') 
                    | {{username}}
                    i.mdi-navigation-arrow-drop-down.right
              else        
                li
                  a.signin(href='#') Sign In 
        a.btn-flat.white-text.button-collapse(href='#', data-activates='nav-mobile')
          i.mdi-navigation-menu

  main
    .container
      +yield
